<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/glider.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sideNavBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include("includes/sideNavBar.ejs") %>
        <nav>
            <div id="burgerButton">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="user">
                <% if(user === " ") { %>
                    <a href="signup">Εγγραφή</a>
                    <a href="login">Σύνδεση</a> 
                <% } else { %>
                    <a href="#"><%= user.userName %></a>
                    <a href="" class="logout">Αποσύνδεση</a>
                <% } %>
                
            </div>
        </nav>
        <h1>Σύγκρινε τιμές σε περισσότερα απο 20000 προιόντα supermarket</h1>
        <div id="nameFlexContainer">
            <h2>mygrocery</h2> 
            <i style="color: black;" class="fas fa-shopping-cart fa-2x"></i>
        </div>
        <form action="/search">
            <input type="search" placeholder="Αναζήτησε στο mygrocery" name="query">
        </form>
    </header>
    <div id="discount">
        <a href="/offers">Δές 5000 προσφορές για σήμερα</a>
    </div>
    <main>   
        <section>
            <h3>Κατηγορίες προιόντων</h3>
            <dir class="glider-contain">
                <div class="glider">
                    <div>
                        <a class="categoriesLink" href="/fresko-kreas-kai-psari">
                            <div class="categoriesContainer" id="freskoKreasPsari">
                                <div class="headlineContainer">
                                    <h4 class="headline">Φρέσκο Κρέας και Ψάρι</h4>
                                    <div class="iconContainer"><i class="fas fa-drumstick-bite fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/opwropwleio" class="categoriesLink">
                            <div class="categoriesContainer" id="opwropwleio">
                                <div class="headlineContainer">
                                    <h4 class="headline">Οπωροπωλείο</h4>
                                    <div class="iconContainer"><i class="fas fa-apple-alt fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/galaktokomika-kai-eidh-psugeiou" class="categoriesLink">
                            <div class="categoriesContainer" id="galaktokomikaEidhPsugeiou">
                                <div class="headlineContainer">
                                    <h4 class="headline">Γαλακτοκομεικά Είδη Ψυγείου</h4>
                                    <div class="iconContainer"><i class="fas fa-egg fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/turia-allantika-delicatessen" class="categoriesLink">
                            <div class="categoriesContainer" id="turiaAllantikaDelicatessen">
                                <div class="headlineContainer">
                                    <h4 class="headline">Τυριά Αλλαντικά Delicatessen</h4>
                                    <div class="iconContainer"><i class="fas fa-cheese fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/tupopoihmena-trofhma" class="categoriesLink">
                            <div class="categoriesContainer" id="tupopoihmenaTrofhma">
                                <div class="headlineContainer">
                                    <h4 class="headline">Τυποποιημένα Τρόφημα</h4>
                                    <div class="iconContainer"><i class="fas fa-utensils fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/prwino-kai-rofhmata" class="categoriesLink">
                            <div class="categoriesContainer" id="prwinoRofhmata">
                                <div class="headlineContainer">
                                    <h4 class="headline">Πρωινό Ροφήματα</h4>
                                    <div class="iconContainer"><i class="fas fa-coffee fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/proionta-artou" class="categoriesLink">
                            <div class="categoriesContainer" id="proiontaArtou">
                                <div class="headlineContainer">
                                    <h4 class="headline">Προιόντα Άρτου</h4>
                                    <div class="iconContainer"><i class="fas fa-bread-slice fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/diatrofh" class="categoriesLink">
                            <div class="categoriesContainer" id="diatrofh">
                                <div class="headlineContainer">
                                    <h4 class="headline">Διατροφή</h4>
                                    <div class="iconContainer"><i class="fas fa-weight fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/snacks" class="categoriesLink">
                            <div class="categoriesContainer" id="snaks">
                                <div class="headlineContainer">
                                    <h4 class="headline">Σνάκς</h4>
                                    <div class="iconContainer"><i class="fas fa-cookie fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/kava" class="categoriesLink">
                            <div class="categoriesContainer" id="drinks">
                                <div class="headlineContainer">
                                    <h4 class="headline">Κάβα</h4>
                                    <div class="iconContainer"><i class="fas fa-cocktail fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/proswpikh-frontida" class="categoriesLink">
                            <div class="categoriesContainer" id="personalCare">
                                <div class="headlineContainer">
                                    <h4 class="headline">Προσωπική Φροντίδα</h4>
                                    <div class="iconContainer"><i class="fas fa-hand-holding-water fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/vrefikh-frontida" class="categoriesLink">
                            <div class="categoriesContainer" id="babyCare">
                                <div class="headlineContainer">
                                    <h4 class="headline">Βρεφική Φροντίδα</h4>
                                    <div class="iconContainer"><i class="fas fa-baby-carriage fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/katoikidia" class="categoriesLink">
                            <div class="categoriesContainer" id="pets">
                                <div class="headlineContainer">
                                    <h4 class="headline">Κατοικίδια</h4>
                                    <div class="iconContainer"><i class="fas fa-paw fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/katharistika-xartika-eidh-oikiakhs" class="categoriesLink">
                            <div class="categoriesContainer" id="home">
                                <div class="headlineContainer">
                                    <h4 class="headline">Καθαριστικά Χαρτικά Είδη Οικιακής</h4>
                                    <div class="iconContainer"><i class="fas fa-hand-sparkles fa-2x"></i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </dir>
        </section>
    </main>
    <hr>
    <section id="latestProductsContainer">
        <h3>Δές τις πιο πρόσφατες προσφορές</h3>
        <% selectedForYou.forEach(function(product){ %>
            <div class="productWrapper">
              <% if(product.storeName) { %>
                <div class="store"><%= product.storeName %></div>
              <% } %>
              <% if(product.discountPercentage) { %>
                <div class="discountPercentage"><%= product.discountPercentage %></div>
              <% } %>
                <img src=<%= product.imgLink %> alt="">
                <h2><%= product.title %></h2>
                <% if(product.startPrice === product.discountPrice) { %>
                  <div class="priceWrapper"><span class="textPrice">Τιμή:</span> <span class="price"><%= product.startPrice %>&#8364;</span></div>
                <% } else { %>
                  <div class="priceWrapper"><span class="textPrice">Τιμή:</span> <span class="startPrice"><%= product.startPrice %>&#8364;</span> <span class="discountPrice"><%= product.discountPrice %>&#8364;</span></div>
                <% } %>
                <div class="storeLink"><a href=<%= product.pageLink %>> Δές το στο κατάστημα</a></div>
            </div>
          <% }) %>
    </section>
    <div id="findStore">
        <div><a href="/stores"><i class="fas fa-shopping-basket"></i></a></div>
        <a href="/stores">Βρές ένα κατάστημα κοντά σου</a>
    </div>
    <%- include("includes/footer.ejs") %>

    <script src="/js/sideNavBar.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/glider.min.js"></script>
    <script>
        new Glider(document.querySelector('.glider'), {
            slidesToShow: 2.5,
            draggable: true
        })
    </script>
</body>
</html>