<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../../css/stores.css">
    <link rel="stylesheet" href="../../css/sideNavBar.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Αναζήτηση Καταστημάτων</title>
</head>
<body>
    <%- include("includes/sideNavBar.ejs") %>
    <%- include("includes/searchNavBar.ejs") %>
    <main>
        <p><a href="<%= breadcrumb[breadcrumb.length - 2].url %>"><%= breadcrumb[breadcrumb.length - 2].url %></a></p>
        <div id="mainContainer">
            <h1>Τοποθεσίες Καταστημάτων</h1>
            <p>
                Αναζήτησε καταστήματα κοντά σου: <button id="button">Αναζήτηση</button>
            </p>
            <div id="mapContainer">
                <div id='map'></div>
            </div>
        </div>
    </main>
    <%- include("includes/footer.ejs") %>
    
    <script src="/js/sideNavBar.js"></script>
    <script src="/js/maps.js"></script>
</body>
</html>